<ion-header>

	<ion-navbar>
		<ion-title>Paid Voucher Order</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<ion-card style="height:560px !important;max-height:560px !important">
					<ion-col>
						<ion-row style="padding: 0; flex-wrap: wrap;">
							<ion-col style="flex: 0 0 70%; max-width: 70%; text-align: center; padding: 0px;">
								<div style="text-align: left;"> ชื่อลูกค้า : {{paidvoucherdetail.Suplier.FullName}}
									<div style="text-align: left;">{{paidvoucherdetail.Suplier.Address}}</div>
									<div style="text-align: left;">โทร : {{paidvoucherdetail.Suplier.TelNo}}</div>
									<div style="text-align: left;">Email : {{paidvoucherdetail.Suplier.Email}}</div>
								</div>
							</ion-col>
							<ion-col style="flex: 0 0 30%; max-width: 30%; text-align: center; padding: 0px;">
								<div style="text-align: left;">เลขที่ :{{paidvoucherdetail.DocNo}}</div>
								<div style="text-align: left;">วันที่ :{{paidvoucherdetail.DocDate | date:"dd/MM/yyyy"}}</div>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col style="margin-top:20px">
						<ion-row>
							<ion-col style="flex: 0 0 5%; max-width: 5%; text-align: left; padding: 0px;"> </ion-col>
							<ion-col style="flex: 0 0 50%; max-width: 50%; text-align: left; padding: 0px;">รายการ</ion-col>
							<ion-col style="flex: 0 0 10%; max-width: 10%; text-align: center; padding: 0px;">จำนวน</ion-col>
							<ion-col style="flex: 0 0 20%; max-width: 20%; text-align: center; padding: 0px;">ราคา / หน่วย</ion-col>
							<ion-col style="flex: 0 0 15%; max-width: 15%; text-align: center; padding: 0px;">จำนวนเงิน</ion-col>
						</ion-row>
					</ion-col>
					<div style="height:290px !important;max-height:290px !important;overflow: scroll !important">
						<ion-list no-lines>
							<ion-item-sliding *ngFor="let item of selectbasket">
								<ion-item>
									<ion-row>
									<ion-col style="flex: 0 0 5%; max-width: 5%; text-align: left; padding: 0px;"> </ion-col>
										<ion-col style="flex: 0 0 50%; max-width: 50%; text-align: left; padding: 0px;">
											<label>{{item.Name}}</label>
										</ion-col>
										<ion-col style="flex: 0 0 10%; max-width: 10%; text-align: center; padding: 0px;">
											<label>{{item.QTY}}</label>
										</ion-col>
										<ion-col style="flex: 0 0 20%; max-width: 20%; text-align: center; padding: 0px;">
											<label>{{item.Price}}</label>
										</ion-col>
										<ion-col style="flex: 0 0 15%; max-width: 15%; text-align: center; padding: 0px;">
											<label>{{item.total}}</label>
										</ion-col>
										</ion-row>
								</ion-item>
								<ion-item-options side="right">
									<button ion-button color="danger" (click)="deleteItem(item)">
										<ion-icon name="trash"></ion-icon>
									</button>
								</ion-item-options>
							</ion-item-sliding>
						</ion-list>
					</div>
					<ion-col>
						<ion-row>
							<ion-col style="flex: 0 0 55%; max-width: 55%; text-align: center; padding: 0px;">

							</ion-col>
							<ion-col style="flex: 0 0 45%; max-width: 45%; text-align: center; padding: 0px;">
								<ion-row>
									<ion-col>
										<ion-row>
											<ion-col>
												รวมเงิน
											</ion-col>
											<ion-col>
												฿ {{totalPrice}}
											</ion-col>
										</ion-row>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col>
										<ion-row>
											<ion-col>
												VAT (7.0%)
											</ion-col>
											<ion-col>
												฿ {{totalPrice * 0.07}}
											</ion-col>
										</ion-row>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col>
										<ion-row>
											<ion-col>
												รวมเงินสุทธิ
											</ion-col>
											<ion-col>
												฿ {{totalPrice * 1.07}}
											</ion-col>
										</ion-row>
									</ion-col>
								</ion-row>


							</ion-col>
						</ion-row>
					</ion-col>
				</ion-card>
			</ion-col>

			<!--/////////////////////////////แบ่งหน้า////////////////////////////////////////////-->

			<ion-col width-50>
				<ion-card>
					<ion-card-content>
						<ion-row style="margin-top:20px;">
							<ion-col width-33>
								<button block (click)="saveOrder()">บันทึก</button>

							</ion-col>
							<ion-col width-33>
								<button block ion-button>เตรียมสินค้า</button>
							</ion-col>

							<ion-col width-33>
								<button block>พิมพ์</button>
							</ion-col>
						</ion-row>
						<!--product-->
						<ion-row>
							<ion-slides pager [options]="mySlideOptions" style="height:400px; margin-top:-40px;">
								<ion-slide *ngFor="let page of box">
									<ion-row style="height: 100%;padding: 0; flex-wrap: wrap;">
										<ion-col style="flex: 0 0 48%;  max-width: 48%; text-align: center; padding: 0; margin-left:8px;" *ngFor="let item of page.basket"
											(click)="chooseProduct(item)">
											<button block ion-button style="background-color: #616161">{{item.Name}}<br> ราคา {{item.Price}} บาท</button>
										</ion-col>
									</ion-row>
								</ion-slide>

							</ion-slides>
						</ion-row>
						<!--cate-->
						<ion-row>
							<ion-slides pager [options]="mySlideOptions" style="height:100px; margin-top:-50px;">
								<ion-slide *ngFor="let page of boxcate">
									<ion-row style="height: 100%;padding: 0; flex-wrap: wrap;">
										<ion-col style="flex: 0 0 31%;  max-width: 31%; text-align: center; padding: 0; margin-left:6px;" *ngFor="let cate of page.fillterCate"
											(click)="chooseCate(cate)">
											<button block ion-button color="dark">{{cate}}</button>
										</ion-col>
									</ion-row>
								</ion-slide>
							</ion-slides>
						</ion-row>
						<button block (click)="cancelPage()" ion-button color="danger" style="margin-top:-10px;">ยกเลิก</button>
					</ion-card-content>
				</ion-card>
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>